@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
  h1 {
    color: $white;
  }

  .nav {
    padding: 10px 40px;
    border-bottom: 1px solid $primary_color;
    background: $secondary_color;
    border-radius: 0 0 15px 15px;

    a {
      @include flex();
    }
  }

  .footer {
    height: 50px;
    background: $white;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    border-top: 3px solid $primary_color;
    color: $secondary_color;
  }
}
